@page "{seed:int}/{team:alpha}/{view:regex(grid|list)?}"
@using libFetchr
@model PlayMinecraftBingo.Pages.fbtmModel
@{
	ViewData["Title"] = "Fetchr Blind Item Tracker";
}
@section ExtraHead {
	<script type="text/javascript">
		var seed = @Model.Seed;
		var team = "@Model.Team";
	</script>
	<script type="text/javascript" src="/fbtm.js"></script>
}
<p class="pageheading">Fetchr Blind Item Tracker</p>

<p class="version">Version @CurrentVersions.Fetchr.ToString() for Minecraft @CurrentVersions.Fetchr.Minecraft.ToString()</p>
<p><strong>Seed:</strong> <span class="monospaced">@Model.Seed</span> <strong>Team:</strong> <span class="monospaced">@Model.Team</span></p>

<div class="fbtmItemGrid">
@foreach (FetchrCategory category in Model.CategoryList)
{
	<div class="fbtmGridCategory">
		<p><strong>@category.Name</strong></p>
		<div class="fbtmGridItem">
			@foreach (FetchrItem item in category.Items)
			{
				<div class="fbtmGridItemCell">@Html.Raw(Model.RenderItem(item))</div>
			}
		</div>
	</div>
}
</div>

<script type="text/javascript">
	ReloadItemStates();
</script>