@page "{prefix:min(10)?}"
@using libFetchrVersion
@model PlayMinecraftBingo.Pages.fetchr_weekly_seedsModel
@{
	ViewData["Title"] = "Fetchr Weekly Challenge Seeds";
	if (Model.Seeds != null) ViewData["Title"] += " - " + Model.Seeds.EffectiveDate.ToString("dddd dd MMMM yyyy");
}
<p class="pageheading">Fetchr Weekly Challenge Seeds</p>
@if (Model.Seeds != null)
{
	<p class="alertbox">
		Weekly Challenge Seeds will transition to Fetchr 5.1.2 on Minecraft 1.20.5,<br />starting with prefix 40 on Friday 3rd May 2024.
	</p>

	<p class="version">Version @Model.Seeds.FetchrVersion.ToVersionString() for Minecraft @Model.Seeds.McVersion</p>
	<p class="heading">@Model.Seeds.EffectiveDate.ToString("dddd dd MMMM yyyy")</p>
	<div class="bingoseedrow">
		@if (Model.Seeds.Seed1 != 0)
		{
			<div class="bingoseed">
				<p class="bingoseedtitle">Bingo 1</p>
				<p class="bingoseednumber">@Model.Seeds.Seed1</p>
				@if (Model.Seeds.Seed4Credit != null)
				{
					<p>&nbsp;</p>
				}
				@if (Model.Seeds.ShowPreviews)
				{
					@Html.Raw(FetchrCardPreview.Render(Model.Seeds.FetchrVersion, Model.Seeds.Seed1))
					;
				}
				<p>&nbsp;</p>
			</div>
		}
		@if (Model.Seeds.Seed2 != 0)
		{
			<div class="bingoseed">
				<p class="bingoseedtitle">Bingo 2</p>
				<p class="bingoseednumber">@Model.Seeds.Seed2</p>
				@if (Model.Seeds.Seed4Credit != null)
				{
					<p>&nbsp;</p>
				}
				@if (Model.Seeds.ShowPreviews)
				{
					@Html.Raw(FetchrCardPreview.Render(Model.Seeds.FetchrVersion, Model.Seeds.Seed2))
				}
				<p>&nbsp;</p>
			</div>
		}
		@if (Model.Seeds.Seed3 != 0)
		{
			<div class="bingoseed">
				<p class="bingoseedtitle">25 Items in 25 Minutes</p>
				<p class="bingoseednumber">@Model.Seeds.Seed3</p>
				@if (Model.Seeds.Seed4Credit != null)
				{
					<p>&nbsp;</p>
				}
				@if (Model.Seeds.ShowPreviews)
				{
					@Html.Raw(FetchrCardPreview.Render(Model.Seeds.FetchrVersion, Model.Seeds.Seed3))
				}
				<p>&nbsp;</p>
			</div>
		}
		@if (Model.Seeds.Seed4 != 0)
		{
			<div class="bingoseed">
				<p class="bingoseedtitle">Practice</p>
				<p class="bingoseednumber">@Model.Seeds.Seed4</p>
				@if (Model.Seeds.Seed4Credit != null)
				{
					<p>(suggested by @Model.Seeds.Seed4Credit)</p>
				}
				@if (Model.Seeds.ShowPreviews)
				{
					@Html.Raw(FetchrCardPreview.Render(Model.Seeds.FetchrVersion, Model.Seeds.Seed4))
				}
				<p><a href="https://d88g1jdd.forms.app/suggest-practice-seed">Suggest a Practice Seed</a></p>
			</div>
		}
	</div>

	<p><strong>Previous Weeks:</strong></p>
	<p>
	@{
		SortedDictionary<DateTime, byte> previousWeeks = FetchrWeeklySeeds.GetPreviousWeeks();
		foreach (DateTime previousWeek in previousWeeks.Keys.Reverse())
		{
			if (previousWeeks[previousWeek] == Model.Seeds.Prefix)
			{
				<span style="font-weight: bold; color: #FF0000;">@previousWeeks[previousWeek]</span>
			}
			else
			{
				<a href="/fetchr-weekly-seeds/@previousWeeks[previousWeek]">@previousWeeks[previousWeek]</a>
			}
		}
	}
	</p>
}
